.user-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #9f87ff;
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 0 0 8px rgba(159, 135, 255, 0.8);
}

.search-input {
    display: block;
    margin: 0 auto;
    padding: 10px 12px;
    border: 2px solid #7dcfff;
    border-radius: 8px;
    font-size: 1rem;
    background: #1c1c2e;
    color: #e0e0e0;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 6px rgba(125, 207, 255, 0.4);
}

.search-input:focus {
    border-color: #9f87ff;
    outline: none;
    box-shadow:
            0 0 8px rgba(159, 135, 255, 0.8),
            0 0 15px rgba(159, 135, 255, 0.6);
}

.refresh-btn {
    left: 20px;
    top: 60px;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg, #7dcfff, #9f87ff);
    color: #151521;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    box-shadow: 0 0 8px rgba(159, 135, 255, 0.5);
    position: absolute;

}

.refresh-btn:hover {
    background: linear-gradient(90deg, #9f87ff, #7dcfff);
    color: #fff;
}
